<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Review url</th>
      <th>Platforms</th>
      <th>Genres</th>
      <th>Time to beat main</th>
      <th>Time to beat 100</th>
      <th>Time to beat url</th>
      <th>Price</th>
      <th>Price url</th>
      <th>Trailer url</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.rating %></td>
        <td><%= link_to("Game Review", game.review_url, :target => "_blank") %></td>
        <td><%= game.platforms %></td>
        <td><%= game.genres %></td>
        <td><%= game.time_to_beat_main %></td>
        <td><%= game.time_to_beat_100 %></td>
        <td><%= link_to("How Long To Beat", game.time_to_beat_url, :target => "_blank") %></td>
        <td><%= game.price %></td>
        <td><%= link_to("Buy Game", game.price_url, :target => "_blank") %></td>
        <td><%= link_to("Game Trailer", game.trailer_url, :target => "_blank") %></td>
        <td><%= game.summary %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
